{% extends "CyberSecurityApp/layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-primary"> {{ title }} </h1>
        <p class="lead text-secondary">
        </p>
    </div>

    <form action="http://localhost:8000" method='get' target='_self'>
        <fieldset>
            <p>ФИО: <input type="Text" name="first_name" placeholder="Сидоров Иван Иванович" size=30></p>
            <p>Номер телефона: <input type="Number" name="phone" placeholder="8999999999" size=11></p>
            <p><input type="Reset" name="Reset" value="Очистить">
                <input type="Submit" name="submit" value="Отправить" class="Button"></p>
        </fieldset>
    </form>
    <br>
    <form action="http://g06u33.nn2000.info/cgi-bin/form_action.py" method='get' target='_self'>
        <fieldset>
            <p>Ваша специализация: <input type="Text" name="specialization"  placeholder="Название направления" size=30></p>
            <p>Ваш стаж работы: <input type="Text" name="experience" placeholder="Сколько лет или месяцев" size=30></p>
            <p>Образование: <input type="Text" name="education" placeholder="Названия университетов/курсов" size=30></p>
            <p>Что вы можете предложить нам: <input type="Text" name="suggestions" placeholder="Ваши идеи" size=40></p>
            <p> <input type="Reset" name="Reset" value="Очистить" >
            <input type="Submit" name="submit" value="Отправить" class="Button">
            </p>
        </fieldset>
    </form>

    {% load static %}
    <table background="{% static 'static/images/img1.png' %}">

    <tr>
        <th>
        <img src="{% static 'static/images/img2.png' %}" height=100px width=100px>
        </th>

    </tr>
    <tr>
        <th>
        <a href="https://www.securityvision.ru/events/" class="fest">Календарь мероприятий по ИБ</a>
        </th>

    </tr>
    </table>

{% endblock %}