{% extends "CyberSecurityApp/layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-primary"> {{ title }} </h1>
        {#        <h1 class="text-primary">Information Security</h1>#}
        <p class="lead text-secondary">Information security is the process of protecting data, networks, programs and
            other information from unauthorized access or destruction. It is of paramount importance that organizations
            take appropriate measures to ensure the security of their data and systems.</p>
        <p class="text-secondary">The development of information security has been driven by the need to protect
            sensitive data from malicious attacks and to ensure the confidentiality, integrity and availability of
            information. As technology advances, so too do the threats posed by malicious actors, making it increasingly
            important for organizations to take steps to protect their data.</p>
        <p class="text-secondary">Organizations must ensure that they have appropriate measures in place to protect
            their data and systems. This includes implementing strong authentication protocols, encrypting sensitive
            data, monitoring network traffic for suspicious activity and regularly patching systems.</p>
        <p class="text-secondary">The importance of information security cannot be overstated. Organizations must take
            steps to ensure that their data is secure and that their systems are protected from malicious actors.</p>
    </div>
{% endblock %}
