<header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Main page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tips and tricks' %}">Tips and tricks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'useful sources' %}">Useful sources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'applications' %}">Applications</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'form' %}">Form</a>
            </li>
        </ul>
    </nav>
</header>
