{% extends 'NavApp/layout.html' %}

{% block title %}<title>{{ content_object.item_title }}</title>{% endblock %}

{% block content %}
{% load static %}
    <aside>
            <h1>Навигация</h1>
            <ul>
                {% for object in nav_objects %}
                <a class="{% if pk == object.id %}active{% else %}{% endif %}"
                               href="{% url 'page' pk=object.id %}"><li>{{ object.site_nav }}</li></a>
                {% endfor %}
                <br>
            </ul>
    </aside>
     <div class="card-body">
                {% autoescape off %}{{ content_object.site_title }}{% endautoescape %}
                {% autoescape off %}{{ content_object.site_content }}{% endautoescape %}
     </div>
{% endblock %}